@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
}

.question-container {
    text-align: center;
    padding: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(255, 84, 164, 0.2);
}

.local-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 3rem auto;
    transition: 0.2s;
}

.local-gif:hover {
    transform: translateY(-10px);
}

.question {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ff54a4;
    width: 0;
    animation: tipo 2s steps(30, end) forwards,
        blink 0.7s infinite;
}

@keyframes tipo {
    to {
        width: 100%;
    }
}

@keyframes brilhoSpan {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

span {
    color: #ff54a4;
    animation: brilhoSpan 1.5s infinite;
}

@keyframes brilhoSpan {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.question span {
    color: #ff54a4;
    animation: brilhoSpan 1.5s infinite;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transform: scale(1);
    transition: transform 0.2s ease;
    background: linear-gradient(145deg,
            #ff6bb0,
            #ff3f94);
}


.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: skewX(-25deg);
    transition: 0.6s;
}

.btn:hover::after {
    left: 130%;
}

.btn:hover {
    transform: scale(1.05) translateY(-5px);
}